<launch>
    <arg name="host" default="192.169.1.44"/>
    <param name="host" value="$(arg host)"/>

    <node name="hl2ss_rgbd_lt" pkg="hololens_ss" type="hololens_client.py" output="screen">
        <param name="calibration_path" value="$(find hololens_ss)/hololens_py/hl2ss_py/calibration" />
        <param name="lt_calibration_path" value="$(find hololens_ss)/hololens_py/hl2ss_py/tools" />
    </node>

</launch>
